- @posts.each do |p|
  %article#posts_landing.post
    %header
      .title
        %h2
          = link_to p.title, p

        %p This is extra description.
      .meta
        %time.published
          = p.created_at.strftime("%b %d, %Y")
        %a.author{:href => "#"}
          %span.name
            = p.admin_user.name
          %img
            = image_tag "avatar.jpg"
    %a.image.featured{:href => "#"}
      %img
        = image_tag "pic01.jpg"
    %p
      = p.body
    %footer
      %ul.actions
        %li
          .button.big
            = link_to "Continue Reading", p
      %ul.stats
        %li
          = link_to p.category.name, category_path(:id => p.category.id)
        %li
          %a.icon.fa-heart{:href => "#"} 28
        %li
          %a.icon.fa-comment{:href => "#"} 128
