.text
  %header.published
    .title
      %h2
        = @category.name



.mini-posts#categories_layout
  - if @posts.present?
    - @posts.each do |p|
      %article.mini-post
        %header
          %h3
            = link_to p.title, p
          %a.author{:href => "#"}
            %img
              = image_tag "avatar.jpg"
        %a.image{:href => "#"}
          %img
            = image_tag "pic03.jpg"

  - else
    %p Sorry! No posts in this category.


.text
  %header
    %h3
      = link_to "Back to Categories", categories_path
